html {
    font-size: 14px;
}

.blog-masthead {
    background-color: #b34848;
}

.title {
    color: #b34848;
}
.blog-post-title:hover {
    text-decoration: underline;

}
.musko {
    color: blue;
}

.zensko {
    color: pink;
}
.gender-wrapper {
    width: 20px;
}